.body {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;

  .header {
    flex-shrink: 0;
  }

  .container {
    flex: 1;
    padding: 20px;
    overflow: auto;
  }

}
